<!DOCTYPE html>
    <html lang="en-us">
    <head>
      <meta charset="utf-8">
      <title>Submit Form</title>
      <style>
        form {
          width: 420px;
        }

        div {
          margin-bottom: 20px;
        }

        label {
          display: inline-block;
          width: 240px;
          text-align: right;
          padding-right: 10px;
        }

        button, input {
          float: right;
        }
      </style>
    </head>
    <body>
      <div style="height:240px;width:480px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
	<p> {{ comments }} </p>
	</div>
      <p></p>
      <form method="post" action="/">
	<div>
	  <label for="comments">Chat:</label>
	  <textarea id="comments" name="comments" rows="16" cols="50">Enter message here...</textarea>
	  </div>
        <div>
          <button>Send my message</button>
        </div>
      </form>
    </body>
  </html>
